# https://docs.docker.com/compose/compose-file/compose-file-v3/#extension-fields
x-build: &dockerfile-dev-build
  context: .
  dockerfile: Dockerfile

services:
  http-utils:
    container_name: http-utils
    build: *dockerfile-dev-build
    volumes:
      - .:/home/docker
    ports:
      - 5000:5000

  integration-tests:
    build: *dockerfile-dev-build
    container_name: http-utils-test
    working_dir: /app
    volumes:
      - .:/app
    command: [ "./scripts/start-tests.sh" ]

  lint-formatter:
    build: *dockerfile-dev-build
    volumes:
      - .:/app
    command: [ "./scripts/start-formatter-lint.sh" ]
