services:
  http-utils:
    container_name: http-utils
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/home/docker
    ports:
      - 5000:5000

  tests:
    build:
      context: tox/
      dockerfile: Dockerfile
    container_name: http-utils-test
    working_dir: /app
    volumes:
      - .:/app
    command: ["./scripts/start-tests.sh"]